body {
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	font-size: 14pt;
}
h2 {
	font-size: 12pt;
}
p {
	font-size: 11pt;
}
a {
	text-decoration: none;
}

@page :left {
	margin-left: 3cm;
	margin-right: 2cm;
}

@page :right {
	margin-left: 2cm;
	margin-right: 3cm;
}
@page {
  @top-left {
    content: "OpenDomo";
  }
  @top-right {
    content: "Page " counter(pages);
  }
  @bottom-left {
	content: "";
  }
  @bottom-right {
  	content: "";
  }
}

fieldset {
	page-break-inside: avoid;
	border: none;
}
.listbox, div{
	width: 100%;
	list-style: none;
	display: table;
	border-collapse: collapse;
	table-layout: fixed;
}
.listbox li,li{
	display: table-row;
	list-style: none;
}
.listbox li label, .listbox li a, .listbox li p{
	display: table-cell;
}

#logo_od {
	display: block!important;
	position: relative;
	top: 
}
#logo_od a {
	color:transparent;
}
#header
{
	padding-top: 20px;
	background-repeat: no-repeat;
}
#categ {
	display:none;
}
#logoutbutton {
	display: none;
}
#debug_box {
	display:none;
}

.info, .success, .warning, .error, .validation, .errorcont, .notice, .loading {
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	text-indent: 50px;
}

.error, .errorcont {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('/images/default/error.png');
}
.warning {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('/images/default/warning.png');
}
.info {
	color: #00529B;
	background-color: #DFF2BF;
	background-image: url('/images/default/notice.png');
}
.notice {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image:url('/images/default/success.png');
}


a, a:visited, a:active {
	text-decoration: none;
	color: black;
	cursor:pointer;
}

.dbg_button {
	display: none;
	color: #F66;
	background-color: #DFDFDF;
}

.graph {
	width: 600px;
	height: 300px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}	


h2[id*='_lgnd_h2'], #logo_od,.tabberactive, .tabbernav
{
	display:none;
}

.selectable input[type=='checkbox']{
	display: inline !important;
}

.hidden {
	display: none!important;
}
.collapsed li{
	display: none!important;
}

.detailedlist {
	width: 100%;
	list-style: none;
	display: table;
	border-collapse: collapse;
	table-layout: fixed;
}
.detailedlist li{
	display: table-row;
	list-style: none;
	vertical-align: middle;
}
.detailedlist li p{
	display: table-cell;
	vertical-align: middle;
}
.detailedlist li label {
	display: table-cell;
}
.detailedlist li .imgframe{
	display: table-cell;
	width: 60px;
	overflow:hidden;
	vertical-align:middle;
	text-align: center;
}

.separator {
	font-weight: bold;
}
body
{
	font-family:Arial, Helvetica, sans-serif;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	padding: 2px;
	line-height: 1;	
	color: black; 
	font-size: 14px; 
}

fieldset 
{
/*	width: 98%; */
	border: 1px solid #cccccc;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin: 0px;
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 30px;

}

 

.tabform li, .listbox li, .detailedlist li{
	border-bottom: 1px solid #CCC;
	height:32px;

}


.detailedlist p {
    display:table-cell;
}


