Source: odhal
Section: electronics
Priority: optional
Maintainer: Javier Miras Blanco <jmirasb@gmail.com>
Build-Depends: libc6-dev (>=2.7), libusb-dev (>=0.1.10), 
Standards-Version:38

Package: odhal
Architecture: i386 armhf
Depends: ${shlibs:Depends}, libc6 (>= 2.7), busybox (>= 1.10), odcommon (>= 1.9.1), libusb-0.1-4 (>=0.1.10)
Description: Opendomo microcontroller drivers

