#!/usr/bin/make -f

PACKAGE=$(shell dh_listpackages)

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure
	mkdir -p var/opendomo/cgiroot/control var/opendomo/cgiroot/config \
		 var/opendomo/cgiroot/map var/opendomo/cgiroot/tools \
		 etc/opendomo
	

override_dh_install:

	find . -maxdepth 1 -mindepth 1 -not -name Makefile -not -name debian -not -name src -print0 | \
		xargs -0 -r -i cp -a {} debian/$(PACKAGE)

override_dh_fixperms:
	dh_fixperms
	chown -R 1000:1000 debian/odcgi/etc/opendomo
	chown -R 1000:1000 debian/odcgi/usr/local/opendomo
	chown -R 1000:1000 debian/odcgi/var/opendomo/cgiroot
	chown -R 1000:1000 debian/odcgi/var/www

override_dh_usrlocal:
