# CM15 X10 adapter (ActiveHome)
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="0bc7", ATTR{idProduct}=="0001", RUN+="/bin/cp /usr/share/config/x10config.default /etc/opendomo/control/x10.conf"
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="0bc7", ATTR{idProduct}=="0001", RUN+="/bin/chown admin:admin /etc/opendomo/control/x10.conf"
ACTION=="remove", SUBSYSTEM=="usb", ATTR{idVendor}=="0bc7", ATTR{idProduct}=="0001", RUN+="/bin/rm /etc/opendomo/control/x10.conf"
# Z-Wave USB dongle
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="067b", ATTR{idProduct}=="2303", RUN+="/bin/cp /usr/share/config/zwave.default /etc/opendomo/control/zwave.conf"
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="067b", ATTR{idProduct}=="2303", RUN+="/bin/chown admin:admin /etc/opendomo/control/zwave.conf"
ACTION=="remove", SUBSYSTEM=="usb", ENV{ID_MODEL_ID}=="2030", RUN+="/bin/rm /etc/opendomo/control/zwave.conf"
