Source: odcommon
Section: system
Priority: optional
Maintainer: Javier Miras Blanco <jmirasb@gmail.com>
Standards-Version:38

Package: odcommon
Architecture: i386 armhf
Depends: libc6 (>= 2.7), rsync (>= 3.0.9), ntpdate (>= 4.2.6), aptitude (>=0.6.8)
Description: Opendomo common files and structures
