#!/usr/bin/make -f

PACKAGE=$(shell dh_listpackages)

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure
	mkdir -p usr/lib var/opendomo/log var/opendomo/run var/opendomo/tmp

override_dh_install:

	find . -maxdepth 1 -mindepth 1 -not -name src -not -name Makefile -not -name debian -print0 | \
		xargs -0 -r -i cp -a {} debian/$(PACKAGE)

override_dh_fixperms:
	dh_fixperms
	chown -R 1000:1000 debian/odcommon/etc/opendomo
	chown -R root:root /etc/sudoers.d
	chmod 0555 /etc/sudoers.d
	chmod 0440 /etc/sudoers.d/*
	chown -R 1000:1000 debian/odcommon/usr/local/opendomo
	chown -R 1000:1000 debian/odcommon/var/opendomo

override_dh_usrlocal:
