html {
    background: url(/skins/default/silver_3.jpg) repeat scroll 0 0 #FAFBFC;
    font: 13px/20px "Droid Sans",Arial,"Helvetica Neue","Lucida Grande",sans-serif;
}

.categories li a{
	background-color: #AAA;	
}
.categories .selected a {
	background-color: #FFF;	
	border-bottom-color: #FFF;
}
.categories li a:hover {
	color: #000;
	background-color: #DDD;		
}

#main {	
	background-color: #FFF;
}
h1 {
	color: #666;
}
h2 {
	color: #222;
}

.toolbar {

	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(193,193,193,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba	(193,193,193,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(193,193,193,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(193,193,193,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(193,193,193,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(193,193,193,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c1c1c1',GradientType=0 ); /* IE6-9 */
}

.copyright, .copyright a {
	color: #666;
}
.logout {
	background-color: white;
}
.dbg_button {
	color: #F66;
	background-color: #DFDFDF;
}
.iconlist ul li  {
	border-color: #ddd;
}


.root, .applicationTitle{
	display:none;
}

#header
{
	font-weight: bold;
	background-color: #FFF;
	background-image: url(/images/logo.png);
	background-repeat: no-repeat;
	border-color: #6E6E6E;

}



.categories li a {
	background-position: center left;
	background-repeat:no-repeat;
	border: 0px solid gray;
	border-bottom-style: hidden;
	cursor: pointer;		
	padding: 1px;
	padding-bottom: 0px;
}

#footer {
	background-color: white;
	border-color: #6E6E6E;
}

button, .buttonlnk {
	background:#25A6E1;
	background:-moz-linear-gradient(top,#2A568E 0%,#053F95 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#2A568E),color-stop(100%,#053F95));
	background:-webkit-linear-gradient(top,#2A568E 0%,#053F95 100%);
	background:-o-linear-gradient(top,#2A568E 0%,#053F95 100%);
	background:-ms-linear-gradient(top,#2A568E 0%,#053F95 100%);
	background:linear-gradient(top,#2A568E 0%,#053F95 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2A568E',endColorstr='#053F95',GradientType=0);
	padding:1px 13px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:12px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:0px solid #CCCCCC
}

button:active, .buttonlnk:active {
	background:-moz-linear-gradient(top,#053F95 0%,#053F95 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#053F95),color-stop(100%,#053F95));
	background:-webkit-linear-gradient(top,#053F95 0%,#053F95 100%);
	background:-o-linear-gradient(top,#053F95 0%,#053F95 100%);
	background:-ms-linear-gradient(top,#053F95 0%,#053F95 100%);
	background:linear-gradient(top,#053F95 0%,#053F95 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#053F95',endColorstr='#053F95',GradientType=0);
}

fieldset
{
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ 	*/
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
	border: 1px solid #AAAAAA;
	box-shadow: 0 0 8px #AAAAAA;
}


legend 
{
	border-color: #AAAAAA;
}

.toolbar 
{
	margin:0px;
	padding:5px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(193,193,193,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba	(193,193,193,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(193,193,193,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(193,193,193,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(193,193,193,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(193,193,193,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c1c1c1',GradientType=0 ); /* IE6-9 */

}



.sel {
	background-color: #DDD;
}

.categories li a{
	color: #053f95;
	background-color: #AAA;	
}
.categories .selected a {
	background-color: #FFF;	
	border-bottom-color: #053f95;
}

#main {
	border-color: #6E6E6E;
}


h1 {
	color: #666;
}

h2 {
	color: #222;
}

.listbox li:hover {
	background: #DFDFDF;
	color: #222;
}

.message {
	border: 1px solid red;
	background: #FFFFFF;
}
