@import "/cgi-bin/map.cgi";

#displayZone_div {
	width: 48%;
	display:inline-block;
	vertical-align: top;
	overflow: hidden;
}
.zone {
	display: block;
	position: absolute;
}
.current {
	border:3px solid blue;
}
.zone:hover{
	border:1px solid blue;
}
