/*
#managePlugins li.plugin {
	background-position: center;
	background-size: 100px 100px;
	height: 100px;
	width: 100px;
	overflow: hidden;
}
#managePlugins li.plugin label {
	height: 100%;
	position: absolute;
}
#managePlugins li.plugin label a{
	position: absolute;
	bottom: 0px;
}
*/

#managePlugins li.installed {
	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	border: 1px solid black;
}
#managePlugins li.new {
	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	border: 1px dashed gray;
}
#managePlugins li.failed {
	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	border: 1px solid red;
}

#managePlugins div.imgframe {
	display: none;
}
#managePlugins label input {
	display: none;
}