/* OpenDomo CGI interface's Default style
#desc:Estilo por defecto para la interfaz de OpenDomo. 
#
# Ha sido optimizado para Firefox y Safari, aunque funciona perfectamente con
# prácticamente cualquier navegador.
*/

/*
@import "/themes/struct.css";
@import "http://opendomo.com/od/c.css"; 
*/


h2[id*='_lgnd_h2'], #logo_od,.tabberactive, .tabbernav
{
	display:none;
}
.hidden {
	display: none!important;
}
.collapsed li{
	display: none!important;
}

.selectable input[type=='checkbox']{
	display: inline !important;
}

.detailedlist {
	width: 100%;
	list-style: none;
	display: table;
	border-collapse: collapse;
	table-layout: fixed;
}
.detailedlist li{
	display: table-row;
	list-style: none;
}
.detailedlist li p{
	display: table-cell;
}
.detailedlist li label {
	display: table-cell;
}
.detailedlist li .imgframe{
	display: table-cell;
	width: 60px;
	overflow:hidden;
	vertical-align:middle;
	text-align: center;
}


.listbox{
	width: 100%;
	list-style: none;
	display: table;
	border-collapse: collapse;
	table-layout: fixed;
}
.listbox li{
	display: table-row;
	list-style: none;
}
.listbox li p{
	display: none;
}
.listbox li label {
	display: table-cell;
}
.listbox li .imgframe{
	display: table-cell;
	width: 60px;
	overflow:hidden;
	vertical-align:middle;
	text-align: center;
}


.iconlist{
	list-style-type: none;
	padding: 5px;
}
.iconlist li{
	display: inline-block;
	margin: 2px;
}
.iconlist li p {
	display: none;
}
.iconlist li label{
	border-bottom: thin solid #E8E8E8;
    color: #3E3535;
}
.iconlist li .imgframe{
	padding: 2px;
	overflow:hidden;
}
.iconlist li .imgframe img{
	vertical-align:middle!important;
	text-align: center;
	max-width: 250px;
	max-height: 250px;
}

.rowform {
	display: block;	
}
.rowform li {
	display: table-cell;
	padding: 5px;
}
.rowform li label {
	display: none;
}

.tabform{
	width: 100%;
	list-style: none;
	display: table;
	border-collapse: collapse;
	table-layout: fixed;
}
.tabform li {
	display: table-row;
	list-style: none;
	padding-left: 5px;
}
.tabform li label, .tabform li p {
	display: table-cell;
}
.tabform li label{
	padding-left: 20px;
}
.tabform .separator label {
	padding-left: 5px!important;
}


.toolbar{

}
.toolbar a{
	cursor:pointer;
}
.listboxtoolbar{
	text-align:right;
	margin-right: 3px;
}

#advpad {
	display: block;
	margin: 15px;
	height: 200px;
	overflow: auto;
}
.nkey {
	margin: 3px;
	width: 70px;
	height: 40px;
	font-size: 110%;
}

.root, .applicationTitle{
	display:none;
}

h1 {
	text-align: center;
	font-size: 18pt;
}
h2 {
	text-align: center;
	font-size: 12pt;
}
body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	padding: 2px;
}
a, a:visited, a:active {
	text-decoration: none;
	color: black;
	cursor:pointer;
}
#loginform_frm {
	background-attachment:fixed;
	background: #FFF url(/images/logo48.png) no-repeat;
	background-position:20 20;
}
#loginbox li label{
	text-align:right;
}
#USER, #PASS {
	width:200px;
}
#main {
	text-align	: left;	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;	
	margin 		: 0px;
	padding		: 10px;	
}
form {
	margin: 2px;
}
.iconlist li{
	border: 2px solid #666;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
	background: #FFF url(/images/pdtbg.png) no-repeat scroll bottom right;
}
a em {
	display: block;
	margin-top: 0.3em;
}
#header .categories li a{
	font-weight: bold;
}

.categories {
	list-style: none;
	border: none;
	padding: 0px;
	margin: 0px;
	margin-left: 4px;
}
.categories li {
	display: inline !important;
	margin: 0px;
	padding: 0px;
}
.categories li a {
	background-position: center left;
	background-repeat:no-repeat;
	margin: 1px;
	border: 1px solid gray;
	border-bottom-style: hidden;
 	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
 	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;	
	text-decoration: none;
	cursor: pointer;		
	padding: 1px;
	padding-bottom: 0px;
}

#footer {
	font-size: 11px;
}
#footer b{
	font-weight: none;
}
#filler {
	display: none!important;
}
input[type=button], input[type=submit], input[type=reset], .buttonlnk, button {
	padding: 2px;
	margin: 2px;
	border: 1px outset;
	text-decoration: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #ccc;
	font-size: 14px;
}
.pressed {
	border: 2px inset;
	text-decoration: none;
	background-color: #33A;
	color: white;
}

input[type=text], input[type=readonly] {
	width:100%;
}
.subtab {
	padding: 2px;
	margin: 2px;
	margin-left: 20px;
	border: 1px solid gray;
	border-top-style: hidden;
 	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
 	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;	
	text-decoration: none;
	font-size: 12px;
	background-color: white;
}

fieldset {
	border: 1px solid #666;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin: 0px;
	padding: 0px;
}
legend {
	margin-left: 10px;
}

/* **** T A B U L A C I O N ******** 
 1. La clase "tabform" se muestra como un formulario tabulado
 2. La clase "listbox" se muestra como una lista tabulada, con elementos activos
 3. La clase "detailedlist" muestra un listado con una columna adicional
*/
.iconlist li:hover, .listbox li:hover, .detailedlist li:hover,.focused {
/*	background: #DFDFDF;
	color: #222; */
}
.tabform li, .listbox li, .detailedlist li{
	border-bottom: 1px solid #CCC;
	height:32px;
}

.tabform li label, .listbox li label {
	margin: 1px;
	padding-left: 5px;
	vertical-align:middle;
}
.tabform li p, .listbox li p {
	vertical-align:middle;
	font-size: 11px;
	padding-left: 5px;
}
.tabform, .listbox {
	padding: 0px;
}
.listbox li .imgframe {
	padding-left: 2px;
}

.imgfield {
	max-width: 320px;
	max-height: 200px;
}
.tooltip 
{
	display:none;
}

/* *** CONTROLES VISUALES ****** */
/*.off .pressed, .on .pressed {
	display: none;
}
.on a, .off a{
	color:transparent;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	display:block;
	overflow: hidden;
    height: 20px;
	width: 20px;
	border: 1px solid gray;
} */
.on .sw-on{
	display:none;
}
.off .sw-off{
	display:none;
}
.on .sw-off{
	background:transparent url('/images/on.png') center center no-repeat;	
	display:block;
	width: 94px;
	height: 27px;
	text-indent: -1000px;
}
.off .sw-on{
	background:transparent url('/images/off.png') center center no-repeat;
	display:block;
	width: 94px;
	height: 27px;
	text-indent: -1000px;
}
.switch .on, .pulser .on {
	color:transparent;
	background:transparent url('/images/di_on.png') center center no-repeat;
	width: 94px;
	height:27px;
	display:inline-block;
}
.switch .off, .pulser .off {
	color:transparent;
	background:transparent url('/images/di_off.png') center center no-repeat;
	width: 94px;
	display:inline-block;
	height:27px;
}
.analog p span{
	width:94px;
	display:inline-block;
	text-align:center;
	padding: 5px;
}
.slider{
	background:transparent url('/images/bar.png') center center repeat-x;
	width: 200px!important;
}
.slider .OFF{
	display:inline-block;
	border:0px;
	margin:0px;
	width: 20px;
	color:transparent;
}
.slider .ON {
    background: transparent url(/images/slider.png) 0 0 no-repeat;
	text-indent: -1000px;
	width: 20px!important;
}
.percent p {
	width: 100%;
	border: 1px solid gray;
}
.percent p input {
	border: 0px;
	text-align: right;
	background-color: blue;
}

/* *** T E X T O ************* */
p {
	padding: 0px;
	margin: 1px;
	font-size: 10pt;
}
.debug {
	display: none;
	border: 1px solid gray;
	margin-left: 15px; 
	margin-right: 15px;
	background: #DFDFDF;
}
.message p{
	text-align: left;
}
.sub label{
	padding-left: 20px!important;
}
.unavailable {
	display: none;
}

.noscript {
	font-size: 12pt;
	color: #BCBCBC;
}
.toolbar {
	margin:0px;
	padding:2px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.sel {
	background-color: #DDD;
}

.graph {
	height: 300px;
}

.imgframe {
	text-align:center;
	margin-left:10px;
	margin-right:10px;
}
.hidden {
	display: none!important;
}

#loginbox{
	border-collapse: collapse;
	float: center;
}
#loginbox td{
	padding: 10px;
}
.copyright{
	margin-top: 5px;
	text-align:center;
}
.copyright a{
	text-decoration: none;
}

.untrans a{
	opacity:0.2;
}
.untrans a:hover{
	opacity:1;
}

/***************SCROLLS************************/
/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */
.tabbertab { 
min-height: 400; 
}
.jspContainer
{
	overflow: hidden;
	position: relative;
	height:400px;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 16px;
	height: 100%;
	background: red;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	background: #dde;
	position: relative;
}

.jspDrag
{
	background: #346DE4;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
	height: 16px;
}

.jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}
