# Check all cdroms
KERNEL!="sr[0-9]|hd[a-z]", GOTO=="mnt_cdrom_end"
ACTION=="add", IMPORT{program}="/lib/udev/ata_id --export %N"
ENV{ID_TYPE}!="cd", GOTO=="mnt_cdrom_end"

# Global mount options
ACTION=="add", ENV{mount_options}="relatime,uid=1000,gid=1000"

# Mount under /mnt and execute script to configure disk in opendomo
ACTION=="add", RUN+="/bin/mkdir -p /mnt/%k"
ACTION=="add", RUN+="/bin/mount -o $env{mount_options} /dev/%k /mnt/%k"
ACTION=="add", RUN+="/bin/logevent disk attached 'Disk attached' /mnt/%k"
ACTION=="add", RUN+="/sbin/process_disk %k"

# Clean up after removal
ACTION=="remove", RUN+="/bin/rm -f /media/%k", RUN+="/bin/umount -l /mnt/%k", RUN+="/bin/rmdir /mnt/%k"

# Exit
LABEL="mnt_cdrom_end"
