# Select drives and import configuration
KERNEL!="sd[a-z]|sd[a-z][1-9]|mmcblk[0-9]p[1-9]", GOTO="mnt_auto_mount_end"

# Selecting mount point
IMPORT{program}="/sbin/blkid -o udev -p %N"
ENV{ID_FS_LABEL}!="", ENV{mount_point}="%E{ID_FS_LABEL}"
ENV{ID_FS_LABEL}=="", ENV{mount_point}="%k"

# Ignore unformatted filesystems
ACTION=="add", ENV{ID_FS_TYPE}!="vfat|ntfs|ext2|ext3|ext4", GOTO="mnt_auto_mount_end"

# Global mount options
ACTION=="add", ENV{mount_options}="noatime"
ACTION=="add", ENV{ID_FS_TYPE}=="vfat|ntfs", ENV{mount_options}="$env{mount_options},utf8,uid=1000,gid=1000,dmask=0027,fmask=0027,flush"

# Mount under /media and launch opendomo disk events manager
ACTION=="add", RUN+="/bin/mkdir -p /media/$env{mount_point}", RUN+="/bin/mount -o $env{mount_options} /dev/%k /media/$env{mount_point}"
ACTION=="add", RUN+="/usr/bin/oddiskevent add $env{ID_FS_LABEL}"

# Clean up after removal
ACTION=="remove", RUN+="/bin/umount -l /dev/%k", RUN+="/bin/rmdir /media/$env{mount_point}"
ACTION=="remove", RUN+="/usr/bin/oddiskevent remove $env{mount_point}"

# Exit
LABEL="mnt_auto_mount_end"
